<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yesgaori.campinggaja.like.repository.LikeRepository">

	<insert id="insertLike" parameterType="map">
		INSERT INTO
			`like`
		(
			`postId`
			, `userId`
			, `category`
		)
		
		VALUE
		(
			#{param1}
			, #{param2}
			, #{param3}
		)
	</insert>
	
	<select id="selectCountLike" parameterType="int" resultType="int">
	
		SELECT
			count(1)
		FROM
			`like`
		WHERE
			`postId` = #{param1}
			AND `category` = #{param2}
	
	
	
	
	</select>
	
	<select id="selectCountLikeByUserId" parameterType="map" resultType="int">
		
		SELECT
			count(1)
		FROM
			`like`
		WHERE
			`postId` = #{param1}
			AND `userId` = #{param2}
			AND `category` = #{param3}
		
	
	</select>
	<select id="selectCountList" parameterType="map" resultType="com.yesgaori.campinggaja.like.domain.BestLike">
		
		SELECT
			postId
			, count(1) as `count`
		FROM
			`like`
		WHERE			
			`category` = #{category}
		GROUP BY
			`postId`
		ORDER BY
			`count` DESC
		LIMIT
			3
		
	
	</select>
	
	
	<delete id="deleteLikeByPostId" parameterType="int">
	
		DELETE FROM
			`like`
		WHERE
			`postId` = #{param1}
			AND `category` = #{param2}
	
	</delete>
	
	<delete id="deleteLikeByPostIdAndUserId" parameterType="int">
	
		DELETE FROM
			`like`
		WHERE
			`postId` = #{param1}
			AND `userId` = #{param2}
			AND `category` = #{param3}
	
	
	</delete>













</mapper>