<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yesgaori.campinggaja.post.repository.PostRepository">

	<insert id="creatDiaryPost" parameterType="map">
	
		INSERT INTO
		
		`camping-diary-post`
		(
			`userId`
			, `title`
			, `content`
			, `mapPath`

		)
		VALUE
		(
			#{userId}
			, #{title}
			, #{content}
			, #{mapPath}
		)
		
	</insert>
	
	<select id="selectDiary" resultType="com.yesgaori.campinggaja.post.domain.CampingDiaryPost">
	
		SELECT
			`id`
			,`userId`
			, `title`
			, `content`
			, `mapPath`
			, `createdAt`
			, `updatedAt`
		FROM
			`camping-diary-post`
		ORDER BY
			`id` DESC
	
	</select>
	
	<select id="selectDetail" resultType="com.yesgaori.campinggaja.post.domain.CampingDiaryPost">
	
		SELECT
			`id`
			,`userId`
			, `title`
			, `content`
			, `mapPath`
			, `createdAt`
			, `updatedAt`
		FROM
			`camping-diary-post`
		WHERE
			`id` = #{id}
	
	</select>	
	
	<insert id="creatEatingPost" parameterType="map">
	
		INSERT INTO
		
		`eating-diary-post`
		(
			`userId`
			, `title`
			, `content`

		)
		VALUE
		(
			#{userId}
			, #{title}
			, #{content}
		)
		
	</insert>
	
	<select id="selectEatingList" resultType="com.yesgaori.campinggaja.post.domain.EatingDiaryPost">
	
		SELECT
			`id`
			,`userId`
			, `title`
			, `content`
			, `createdAt`
			, `updatedAt`
		FROM
			`eating-diary-post`
		ORDER BY
			`id` DESC
	
	</select>
	
	<select id="selectEating" resultType="com.yesgaori.campinggaja.post.domain.EatingDiaryPost">
	
		SELECT
			`id`
			,`userId`
			, `title`
			, `content`
			, `createdAt`
			, `updatedAt`
		FROM
			`eating-diary-post`
		WHERE
			`id` = #{id}
	
	</select>
	
	<insert id="creatItemPost" parameterType="map">
	
		INSERT INTO
		
			`item-post`
		(
			`userId`
			, `title`
			, `content`
			, `starPoint`

		)
		VALUE
		(
			#{userId}
			, #{title}
			, #{content}
			, #{starPoint}
		)
		
	</insert>
	
	<select id="selectItemList" resultType="com.yesgaori.campinggaja.post.domain.ItemPost">
	
		SELECT
			`id`
			,`userId`
			, `title`
			, `content`
			, `starPoint`
			, `createdAt`
			, `updatedAt`
		FROM
			`item-post`
		ORDER BY
			`id` DESC
	
	</select>
	
	<select id="selectItem" resultType="com.yesgaori.campinggaja.post.domain.ItemPost">
	
		SELECT
			`id`
			,`userId`
			, `title`
			, `content`
			, `starPoint`
			, `createdAt`
			, `updatedAt`
		FROM
			`item-post`
		WHERE
			`id` = #{id}
	
	</select>

	<insert id="creatRecruitment" parameterType="map">
	
		INSERT INTO
		
			`recruitment-post`
		(
			`userId`
			, `title`
			, `content`
			, `mapPath`
			, `personnel`
			, `appointmentStartDate`
			, `appointmentEndDate`
			, `info`

		)
		VALUE
		(
			#{param1}
			, #{param2}
			, #{param3}
			, #{param4}
			, #{param5}
			, #{param6}
			, #{param7}
			, #{param8}
		)
		
	</insert>
	
	<select id="selectRecruitmentList" resultType="com.yesgaori.campinggaja.post.domain.RecruitmentPost">
	
		SELECT
			`id`
			, `userId`
			, `title`
			, `content`
			, `mapPath`
			, `personnel`
			, `appointmentStartDate`
			, `appointmentEndDate`
			, `info`
			, `createdAt`
			, `updatedAt`
		FROM
			`recruitment-post`
		ORDER BY
			`id` DESC
	
	</select>
	
	<select id="selectRecruitment" resultType="com.yesgaori.campinggaja.post.domain.RecruitmentPost">
	
		SELECT
			`id`
			, `userId`
			, `title`
			, `content`
			, `mapPath`
			, `personnel`
			, `appointmentStartDate`
			, `appointmentEndDate`
			, `info`
			, `createdAt`
			, `updatedAt`
		FROM
			`recruitment-post`
		WHERE
			`id` = #{id}
	
	</select>

	<select id="findRecruitmentPostList" resultType="com.yesgaori.campinggaja.post.domain.RecruitmentPost">
	
		SELECT
			`id`
			, `userId`
			, `title`
			, `content`
			, `mapPath`
			, `personnel`
			, `appointmentStartDate`
			, `appointmentEndDate`
			, `info`
			, `createdAt`
			, `updatedAt`
		FROM
			`recruitment-post`
		WHERE
			`userId` = #{userId}
			AND `info` = "0"
	
	</select>

	<insert id="inquiryCreate" parameterType="map">
	
		INSERT INTO
		
			`inquiry`
		(
			`userId`
			, `inquiry`

		)
		VALUE
		(
			#{userId}
			, #{inquiry}

		)
		
	</insert>








</mapper>