<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yesgaori.campinggaja.post.repository.PostRepository">

	<insert id="creatDiaryPost" parameterType="map">
	
		INSERT INTO
		
		`camping-diary-post`
		(
			`userId`
			, `title`
			, `content`
			, `mapPath`

		)
		VALUE
		(
			#{userId}
			, #{title}
			, #{content}
			, #{mapPath}
		)
		
	</insert>
	
	<select id="selectDiary" resultType="com.yesgaori.campinggaja.post.domain.CampingDiaryPost">
	
		SELECT
			`id`
			,`userId`
			, `title`
			, `content`
			, `mapPath`
			, `createdAt`
			, `updatedAt`
		FROM
			`camping-diary-post`
		ORDER BY
			`id` DESC
	
	</select>
	
	<select id="selectDetail" resultType="com.yesgaori.campinggaja.post.domain.CampingDiaryPost">
	
		SELECT
			`id`
			,`userId`
			, `title`
			, `content`
			, `mapPath`
			, `createdAt`
			, `updatedAt`
		FROM
			`camping-diary-post`
		WHERE
			`id` = #{id}
	
	</select>
	















</mapper>