@charset "UTF-8";

#wrap {
	width:1200px;
	margin:0 auto;
}

.mainHead {
	width:400px;
}

header {
	
	height:100px;
}

.login {
	height:700px;
}

.join {
	height:700px;
}

#section1 {
	height:400px;
	background-color: darkseagreen;
}

#section2 {
	height:400px;
	background-color: gold;
}

#section3 {
	height:400px;
	background-color:lightsalmon
}

#section4 {
	height:400px;
	background-color: darkgrey;
}

.map_wrap {position:relative;width:100%;height:350px;}
.title {font-weight:bold;display:block;}
.hAddr {position:absolute;left:10px;top:10px;border-radius: 2px;background:#fff;background:rgba(255,255,255,0.8);z-index:1;padding:5px;}
#centerAddr {display:block;margin-top:2px;font-weight: normal;}
.bAddr {padding:5px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}