@charset "UTF-8";

#wrap {
	width:1200px;
	margin:0 auto;
}

.mainHead {
	width:400px;
}

header {
	
	height:100px;
}

.login {
	height:700px;
}

.join {
	height:700px;
}

#section1 {
	height:400px;
	background-color: darkseagreen;
}

#section2 {
	height:400px;
	background-color: gold;
}

#section3 {
	height:400px;
	background-color:lightsalmon
}

#section4 {
	height:400px;
	background-color: darkgrey;
}

#container {overflow:hidden;height:300px;position:relative;}
#btnRoadview,  #btnMap {position:absolute;top:5px;left:5px;padding:7px 12px;font-size:14px;border: 1px solid #dbdbdb;background-color: #fff;border-radius: 2px;box-shadow: 0 1px 1px rgba(0,0,0,.04);z-index:1;cursor:pointer;}
#btnRoadview:hover,  #btnMap:hover{background-color: #fcfcfc;border: 1px solid #c1c1c1;}
#container.view_map #mapWrapper {z-index: 10;}
#container.view_map #btnMap {display: none;}
#container.view_roadview #mapWrapper {z-index: 0;}
#container.view_roadview #btnRoadview {display: none;}