@charset "UTF-8";

#wrap {
	width:1200px;
	margin:0 auto;
}

.mainHead {
	width:400px;
}

header {
	
	height:100px;
}

.login {
	height:700px;
}

.join {
	height:700px;
}

#section1 {
	height:400px;
	background-color: darkseagreen;
}

#section2 {
	height:400px;
	background-color: gold;
}

#section3 {
	height:400px;
	background-color:lightsalmon
}

#section4 {
	height:400px;
	background-color: darkgrey;
}